
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');
body, header{
	font-family: 'Overlock', cursive;
}
/* .main{
	position: relative;
	width: 80%;
	padding-right: 15px;
	margin-right: 0;
	margin-left: auto;
}
 */
.legend-filter{
	border-left: solid 3px black;
	border-bottom: solid 3px black;
	padding-left: 4px;
}
.sidebar{
	position: absolute;
	margin-top: 300px;
	background-color: white;
	padding: 20px;
	width: 16rem;
}
.gender{
	cursor: pointer;
}
.round-color{
	position: relative;	
	margin: 8px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	float: left;
}
.round-color:hover{
	cursor: pointer;
	z-index: 1; 
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#white{background-color: #FFF; border: solid 0.5px;}
#black{background-color: #000;}
#grey {background-color: #AAA;}
#blue {background-color: #00F;}
#red {background-color: #F00;}
#green {background-color: #708d23;}
#yellow {background-color: #FE0;}
#brown {background-color: #723A08;}
#purple {background-color: #2e006c;}
#pink {background-color: #DB17B8;}
#orange {background-color: #DA8F0B;}
#many {
	background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 57%, #feff19 70%, #63ff2a 100%);
}


div.hide-c{
	display: none;
	z-index: -1;
	width: 0;
	padding: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
div.hide-g{
	display: none;
	z-index: -1;
	width: 0;
	padding: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}